<h1>All posts here</h1>

<ul id="articles">
  <% @posts.each do |post| %>
    <li>
    <%= link_to post.title, post_path(post) %><br />
    <% if (user_signed_in? && current_user.member_status == true) %>
      <small>
        <%= post.user.name %>
      </small>
    <% end %>
  <% end %>
    </li>
</ul>